.Articles {
  background-color: var(--primary-clr);
  color: var(--text-clr);
  padding: calc(6 * var(--default-padding)) calc(2 * var(--default-padding));
  border-radius: 0.375em;
}

.flex-container {
  margin-bottom: calc(2 * var(--default-padding));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-container > h2 {
  display: inline-block;
}

.flex-container > .link {
  color: var(--text-clr);
  text-decoration: none;

  padding: var(--default-padding);
  border: 0.075em solid var(--text-clr);
  border-radius: 0.75em;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
}

.article {
  padding: calc(1.5 * var(--default-padding)) 0;
  color: var(--text-clr);
  text-decoration: none;
}

.date {
  font-size: 0.75em;
  font-weight: 700;
}

.grid-container a:not(:last-child) {
  border-bottom: 0.075em dotted var(--text-clr);
}
