.Articles {
  background-color: var(--primary-clr);
  color: var(--text-clr);
  padding: var(--default-padding);
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-container > h2 {
  display: inline-block;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
}

.grid-container a {
  padding: var(--default-padding);
  color: var(--text-clr);
  text-decoration: none;
}

.grid-container a:not(:last-child) {
  border-bottom: 0.075em dotted var(--text-clr);
}
