.Articles {
  background-color: var(--primary-clr);
  color: var(--text-clr);
  padding: var(--default-padding);
}

.grid-container {
  display: grid;
  grid-template-columns: max-content auto;
}

.date,
.header {
  padding: 0 calc(0.5 * var(--default-padding));
  border: calc(var(--default-padding) / 100) dotted var(--text-clr);
}

.grid-container a {
  color: var(--text-clr);
  text-decoration: none;
}
