.Footer {
  background-color: var(--secondary-clr);
  color: var(--text-clr);
  padding: calc(3 * var(--default-padding)) var(--default-padding);

  display: grid;
  gap: var(--default-padding);
}

.contact-info {
  display: flex;
  align-items: center;
  gap: var(--default-padding);
}

.contact-info > a {
  display: flex;
  align-items: center;
}

.contact-info > a > img {
  width: 2em;
}
