.Footer {
  background-color: var(--background-clr);
  color: var(--text-clr);
  padding: calc(6 * var(--default-padding)) 0;
}

.Footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.Footer nav {
  display: flex;
  gap: 0.25rem;
  margin: 0 1rem;
}

.Footer a,
.Footer span {
  align-items: center;
  display: flex;
  font-size: 0.9rem;
  line-height: 1.2;
  padding: 0 0.5rem;
}

.Footer a {
  color: var(--text-clr);
  text-decoration: none;
}

.Footer img {
  display: inline-block;
  height: 20px;
  width: auto;
}
