.NavigationBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: var(--default-padding);
}

.logo {
  height: 2em;
  width: auto;
}

.navigation-link {
  color: var(--primary-clr);
}

.navigation-link:has(> .logo) {
  display: flex;
  align-items: center;
}
