.NavigationBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: var(--default-padding);
}

.logo {
  height: 2em;
  width: auto;
}

.link-container {
  width: 5em;
}

.navigation-link {
  color: var(--primary-clr);
  font-weight: 550;
  text-decoration: none;
}

.navigation-link:has(> .logo) {
  display: flex;
  align-items: center;
}
