.NavigationBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: var(--default-padding);
}

.navigation-link {
  color: var(--primary-clr);
}
