.Profile {
  background-color: var(--secondary-clr);
}

.Profile > h1 {
  color: var(--accent-clr);
}

.emp {
  background: -webkit-linear-gradient(
    45deg,
    var(--text-clr),
    var(--accent-clr)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Profile > p {
  color: var(--text-clr);
}
