.Projects {
  background-color: var(--text-clr);
  padding: calc(3 * var(--default-padding)) var(--default-padding);
}

.projects-container {
  padding: calc(2 * var(--default-padding)) 0;
  display: flex;
  flex-direction: column;
  gap: calc(3 * var(--default-padding));
}

.project {
  background-color: var(--background-clr);
  padding: calc(2 * var(--default-padding));
  border-radius: 0.25em 0.25em 0 0.25em;
  text-decoration: none;
  position: relative;
}

.project::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: var(--default-padding) solid black;
  border-right: var(--default-padding) solid black;
  border-bottom: var(--default-padding) solid transparent;
  border-left: var(--default-padding) solid transparent;
  right: 0;
  bottom: -15px;
  color: var(--background-clr);
}

.project > * {
  color: var(--text-clr);
  line-height: 1.75;
}

.project > p {
  font-weight: 600;
  color: var(--accent-clr);
}

.project > em {
  display: block;
}

.project button {
  color: var(--background-clr);
}
