.Projects {
  background-color: var(--text-clr);
  color: var(--secondary-clr);
  padding: var(--default-padding);
}

.Projects img {
  width: 100%;
  height: auto;

  border-radius: 0.2em;
}
